<div class="text-center">
  <div class="row">
    <div class="large-12 columns">
      <img src="/images/banner.png">
    </div>

  <strong class="show-for-medium-up">
    <video width="640" height="360" id="the-video" preload="" controls="controls" autoplay loop>
      <source src="images/web_banner.mp4">
      <source src="images/web_banner.ogv">
      <source src="images/web_banner.webm">
    </video>
  </strong>

  </div>
</div>

