
<div class="magellan-container" style="background-color:#fff !important;" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;" >
  <dl class="sub-nav">
    <dd data-magellan-arrival="philosophy"><a href="#philosophy">Philosophy</a></dd>
    <dd data-magellan-arrival="portfolio"><a href="#portfolio">Portfolio</a></dd>
    <dd data-magellan-arrival="about"><a href="#about">About Me</a></dd>
    <dd data-magellan-arrival="contact"><a href="#contact">Contact</a></dd>
  </dl>
</div>

<h3 data-magellan-destination="philosophy">Philosophy</h3>
<a name="philosophy"></a>
<h3>Philosophy</h3>
<p>At CM Suby, customer satisfaction is everything. We will work with you, alongside our design professional, from start to finish planning each detail with your approval. Once you are satisfied, we then begin ordering materials for the job and will not begin work until we have everything in our possession. We only start one project at a time so your project is always our number one priority.</p>

<h3 data-magellan-destination="portfolio">Portfolio</h3>
<a name="portfolio"></a>

<h3>Portfolio</h3>
<p>To celebrate Black History Month in February—and the rich tradition of African American poetry all year long—browse essays, lesson plans, archival letters and photos, and poems about the African American experience.</p>

<h3 data-magellan-destination="about">About Me</h3>
<a name="about"></a>
<h3>About</h3>
<p>You only watch the news to find out
where the fires are burning, which way
the wind is blowing, and whether
it will rain. Forecast ahead but first:
A mother’s boy laid out</p>

<p>in the street for hours.
These facts don’t wash away.</p>


<h3 data-magellan-destination="contact">Contact</h3>
<a name="contact"></a>
<h3>Contact</h3>
<p>You only watch the news to find out
where the fires are burning, which way
the wind is blowing, and whether
it will rain. Forecast ahead but first:
A mother’s boy laid out</p>

<p>in the street for hours.
These facts don’t wash away.</p>
<p>At CM Suby, customer satisfaction is everything. We will work with you, alongside our design professional, from start to finish planning each detail with your approval. Once you are satisfied, we then begin ordering materials for the job and will not begin work until we have everything in our possession. We only start one project at a time so your project is always our number one priority.</p>

<p>At CM Suby, customer satisfaction is everything. We will work with you, alongside our design professional, from start to finish planning each detail with your approval. Once you are satisfied, we then begin ordering materials for the job and will not begin work until we have everything in our possession. We only start one project at a time so your project is always our number one priority.</p>

<p>At CM Suby, customer satisfaction is everything. We will work with you, alongside our design professional, from start to finish planning each detail with your approval. Once you are satisfied, we then begin ordering materials for the job and will not begin work until we have everything in our possession. We only start one project at a time so your project is always our number one priority.</p>
