<div class="row">
<div class="large-8 columns">
<h4>About</h4>
    <p>My name is Jason Benchieh Wang, a recent graduate of DevBootCamp, who is hungry for a new life-changing horizon in web development. Prior to this, I have had little to no experience in this field, but I have embraced the culture of development during the length of the program. Coming off a long stint as a Medical Student, I made a drastic decision to embrace a completely different path with more risk, but a greater emotional payoff. </p>
</div>
<div class="large-4 columns">
<img src="http://placehold.it/400x300&text=[img]">
</div>
</div>
