<div class="row">
<div class="large-4 columns">
<img src="http://placehold.it/400x300&text=[img]">
</div>
<div class="large-8 columns">
<h4>Contact</h4>
    <p>201-572-4972</p>
    <p>jaybwang007@gmail.com</p>
    <p>https://github.com/AgentWang007</p>
</div>
</div>
